.ui-es-widget {
    padding: 8px;
}

.ui-es-pair-container {
    padding: 5px;
    display: flex;
    flex-direction: row;    
}

.ui-es-section-headline {
    padding: 5px;
    font-weight: bold;
}

.ui-es-user-status label {
    font-weight: bold;
}

.ui-es-label {
    min-width: 80px;
    margin-right: 10px;
}

.ui-es-attendee-container,
.ui-es-event-item,
.ui-es-user-status-container,
.ui-es-submit-container
{
    display:none;
}

select{
    width: 200px;
}



